.payment {
  background-color: white;
}

.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  border-bottom: 1px solid lightgray;
  background-color: rgb(234, 237, 237);
}

.payment__container > h1 a {
  color: darkcyan;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment__title {
  /* Takes 20% */
  flex: 0.2;
}

.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
}

.payment__details > form {
  max-width: 400px;
}

.payment__priceContainer {
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(234, 237, 237);
}

.payment__priceContainer > h3 {
  padding-bottom: 20px;
}

.payment__details > h3 {
  padding-bottom: 20px;
}

.payment__details > form > div > button {
  background: #ffc940;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  border: 1px solid;
  font-weight: bolder;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

@media (max-width: 480px) {
  .payment__address,
  .payment__items,
  .payment__details {
    padding: 0 20px;
  }

  .payment__container {
    margin-top: 50px;
  }

  .payment__warning {
    margin-top: 180px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}

.payment__warning {
  margin-top: 180px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgb(234, 237, 237);
}
