.checkoutProduct {
  display: flex;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.checkoutProduct__img {
  object-fit: contain;
  width: 220px;
  height: 220px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > button {
  background: #ffc940;
  width: 150px;
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct__price {
  margin-bottom: 10px;
}

@media (max-width: 720px) {
  .checkoutProduct {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}

button:focus {
  outline: none !important;
  border: 3px solid darkgoldenrod;
}

.checkoutProduct:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 0 0 20px 2px grey;
  padding-bottom: 20px;
}
